<p id="notice"><%= notice %></p>

<h1>Cost List</h1>

<table>
  <thead>
  <tr>
    <th>Amount</th>
    <th>| Category |</th>
    <th colspan="3">Options</th>
  </tr>
  </thead>

  <tbody>
  <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.amount %></td>
        <td><%= cost.category_id %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cost', new_cost_path %>
