<%= form_for(@income) do |f| %>
    <% if @income.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

          <ul>
            <% @income.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :amount %><br>
      <%= f.number_field :amount %>
    </div>
    <div class="field">
      <%= f.label :category_id %><br>
      <%= f.number_field :category_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
