<p id="notice"><%= notice %></p>

<h1>Income Listing</h1>

<table>
  <thead>
  <tr>
    <th>Amount</th>
    <th>| Category |</th>
    <th colspan="3"> Options</th>
  </tr>
  </thead>

  <tbody>
  <% @incomes.each do |income| %>
      <tr>
        <td><%= income.amount %></td>
        <td><%= income.category_id %></td>
        <td><%= link_to 'Show', income %></td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Destroy', income, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income', new_income_path %>
