<p>
  <strong>Amount: <br/></strong>
  <%= @income.amount %>
</p>

<p>
  <strong>Category: <br/></strong>
  <%= @income.category_id %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
