/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
background images - http://all-free-download.com/free-vector/website-background-images.html
*/


.body_class {
    background-image: url("Abstract_Blue_Background_4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    text-align: center;
}
.middle {
    border: solid;
    width: 40%;
}
#div-mid {
    background-color: white;
}
h2 {
    color:red;
}
h1 {
    color: darkblue;
}
span {
    color: red;
}
footer {
    text-align: center;
    font-size: 16px;
    color: midnightblue;
    padding-top: 30%;
}