<p>
  <strong>Name:</strong>
  <span><%= @category.name %></span>
</p>

<tr>
  <td>
    <%= form_for [@category, Income.new] do |f| %>
        <%= f.text_field :amount %>
        <%= f.submit "Add-Income" %>
    <% end %>
  </td>
</tr>

<%- @category.incomes.each do |income| %>
    <tr>
      <td>Income</td>
      <td>
        <!--<#%= income.amount %>-->
        <strong><%= @category.total_incomes %></strong>
      <td>
        <%= link_to 'Destroy', "/categories/#{@category.id}/incomes/#{income.id}",
                    method: :delete, data: {confirm: 'Are you sure?'} %>
        <br/>
      </td>
    </tr>
<% end %>

<hr/><!--Horizontal line-->

<tr>
  <td>
    <%= form_for [@category, Cost.new] do |f| %>
        <%= f.text_field :amount %>
        <%= f.submit "Add-Cost" %>
    <% end %>
  </td>
</tr>
<%- @category.costs.each do |cost| %>
    <tr>
      <td>Cost</td>
      <td>
        <!--<#%= cost.amount %>-->
        <strong><%= @category.total_costs %></strong>
      </td>
      <td>
        <%= link_to 'Destroy', "/categories/#{@category.id}/costs/#{cost.id}",
                    method: :delete, data: {confirm: 'Are you sure?'} %>
        </br>
      </td>
    </tr>
<% end %>

<hr>
<br>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>