<!DOCTYPE html>
<html>
<head>
  <title>Wallet-App</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<link href="application.css" rel="stylesheet">
<body id="body_id" class="body_class">

<h1 class="header">Expense Tracker</h1>

<div>
  <p>
    Use this program and get honest with yourself by getting a real handle
    on what money is coming in and what money is going out.
  </p>
</div>

<div id="div-mid" class="middle">

  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>

    <% end %>
  </p>

  <%= yield %>
</div>
<div>
  <footer>
    Alan Seciwa  |
    <a href="https://bitbucket.org/aseciwa/wallet_app">Wallet-App Bitbucket</a>  |
    UNM-ECE 595
  </footer>
  <hr>
</div>

</body>
</html>
